.idea
ShapeDetection/venv/*
ShapeDetection/pyimagesearch/__pycache__/*
examples/shape-detection/pyimagesearch/__pycache__/*
LegoDetection/venv/*
LegoDetection/QRCodeDetection/__pycache__/*
LegoDetection/Tracking/__pycache__/*
LegoDetection/BoardDetection/__pycache__/*
LegoDetection/ParseJSON/__pycache__/JsonParser.cpython-36.pyc
LegoDetection/__pycache__/config.cpython-36.pyc
LegoDetection/ParseJSON/__pycache__/__init__.cpython-36.pyc
