python>=3.6.8  # FIXME: why do we need a specific python version?
cv2=3.3.1  # opencv
pyrelasense=2.20.0.714  # (https://pypi.org/project/pyrealsense2/) on License: Apache 2.0.
pyzbar=0.1.8  # (https://pypi.org/project/pyzbar/)
numpy
requests
shapely
scipy
